PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=IGHlLYlJBtnYf5YY7c6VSlTQtuHZjS_Q
DRIVE_DISK=local
SESSION_DRIVER=cookie
CACHE_VIEWS=false
DB_CONNECTION=sqlite
# Admin Credentials
ADMIN_USERNAME=admin
ADMIN_PASSWORD=your-secure-password-here